#candBox {
    background-color: bisque;
    margin: 4%;
    padding: 2%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

#title {
    text-align: center;
    margin: 4%;
    font-size: 60px;
}

#rating {
    background-color: bisque;
    margin: 4% 4% 4% 0;
    padding: 2% 2% 2% 0;
    height: 5%;
    text-align: center;
}

.button {
    
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 100px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
    background: #003662;
    
    /*Step 3: Text Styles*/
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    
    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #003662, #003662);
    background: -moz-linear-gradient(top, #003662, #003662);
    background: -o-linear-gradient(top, #003662, #003662);
    background: -ms-linear-gradient(top, #003662, #003662);
    background: linear-gradient(top, #003662, #003662);
    
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
    
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    
    
    
}

/*Step 3: Link Styles*/
a.button {
    text-decoration: none;
}

/*Step 5: Hover Styles*/
a.button:hover {
    background: #003662;
    background: -webkit-linear-gradient(top, #A1A1A1, #A1A1A1);
    background: -moz-linear-gradient(top, #A1A1A1, #A1A1A1);
    background: -o-linear-gradient(top, #A1A1A1, #A1A1A1);
    background: -ms-linear-gradient(top, #A1A1A1, #A1A1A1);
    background: linear-gradient(top, #A1A1A1, #A1A1A1);
    text-decoration: none;
}

#groupname {
    text-align: center;
    font-size: 40px;
    margin: 6%;
    
}

.overlay {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: rgba(0, 0, 0, 0.7);
 transition: opacity 500ms;
 visibility: hidden;
 opacity: 0;
}
.overlay:target {
 visibility: visible;
 opacity: 1;
}.popup {
 margin: 70px auto;
 padding: 20px;
 background: #fff;
 border-radius: 5px;
 width: 30%;
 position: relative;
 transition: all 5s ease-in-out;
}.popup h2 {
 margin-top: 0;
 color: #333;
 font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
 position: absolute;
 top: 20px;
 right: 30px;
 transition: all 200ms;
 font-size: 30px;
 font-weight: bold;
 text-decoration: none;
 color: #333;
}
.popup .close:hover {
 color: #06D85F
;
}
.popup .content {
 max-height: 30%;
 overflow: auto;
}@media screen and (max-width: 700px){
 .box{
   width: 70%;
 }
 .popup{
   width: 70%;
 }
}