<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Report</title>
        <link rel="stylesheet" href=" {{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='circle.css')}}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <h1 id="title">Reports </h1>
    
    <div class="container">
        <div class="row" id="candBox">
            <div class="col-sm-4">
                <h3>Candidate 1</h3>
                <p>Lorem ipsum dolor..</p>
            </div>
            <div class="col-sm-2">
                <div class="c100 p90 small">
                    <span>90%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                </div>
            </div>
        </div>
</div>

</body>
</html>