<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Report</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='circle.css')}}">
        <script src="script.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <h1 id="title">Job List</h1>
    <div class="container">
    

    <div class="panel-group" id="accordion">
        {% for k,v in results.items() %}
          <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">
        {{k}}</a>
      </h4>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
      <div class="panel-body">
        {% for item in v %}
        <div class="row" id="candBox">
            <div class="col-sm-4">
                <h3>#{{loop.index}} {{item.name}} {{item.top_skill}} </h3>
                <a href="{{item.path}}" download>Download Resume  </a>
            </div>
            <div class="col-sm-2">
                <div class="c100 p{{item.percentage|int}} small">
                    <span> {{item.percentage}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                </div>     
        </div>
        <div class="col-sm-6">
               <a class="button" href="#popup1">Expand</a>
               <div id="popup1" class="overlay">
    <div class="popup">
       <br>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="col-sm-6">
               <h3>Keyword Rating</h3>
               <div class="c100 p90 small">
                   <span>90%</span>
                       <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                       </div>
               </div>
       </div>
           <div class="col-sm-6">
               <h3>Similarity Rating</h3>
               <div class="c100 p40 small">
                   <span>40%</span>
                       <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                       </div>
               </div>
       </div>
        </div>
    </div>
</div>            
</div>


</div>
     {% endfor %}
        </div>
    </div>
  </div>
  {% endfor %}
    </div>
    
    
    
    

</body>
</html>