<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Report</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='circle.css')}}">
        <script src="script.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <h1 id="title">Job List</h1>
    <div class="container">
    

    <div class="panel-group" id="accordion">
        {% for k,v in results.items() %}

         {% set rowloop = loop %}
          <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">
        {{k}}</a>
      </h4>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
      <div class="panel-body">
        {% for item in v %}
        <div class="row" id="candBox">
            <div class="col-sm-4">
                <h3>#{{loop.index}} {{item.name}} {{item.top_skill}} </h3>
                <a href="{{item.path}}" download>Download Resume  </a>
            </div>
            <div class="col-sm-2">
                     <h4> Overall Rating </h4>
                <div class="c100 p{{item.combined_score|int}} small">

                    <span class="combined_score"> {{item.combined_score}}% </span> 
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                </div>     
        </div>
        <div class="col-sm-6">
               <a class="button expand" href="#popup{{loop.index+  (rowloop.index-1)*10}}">Expand</a>
               <div id="popup{{loop.index+  (rowloop.index-1)*10}}" class="overlay">
    <div class="popup">
       <br>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="col-sm-6">
               <h3>Keyword Rating</h3>
               <div class="c100 p{{item.percentage | int }} small">
                   <span>{{item.percentage}}%</span>
                       <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                       </div>
               </div>
       </div>
           <div class="col-sm-6">
               <h3>Similarity Rating</h3>
               <div class="c100 p{{item.similarity|int }} small">
                   <span>{{item.similarity}}%</span>
                       <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                       </div>
               </div>
       </div>
        </div>
    </div>
</div>            
</div>


</div>
     {% endfor %}
        </div>
    </div>
  </div>
  {% endfor %}
    </div>
    
</div>
</body>

<script> 

function hide() {
    scores = document.getElementsByClassName("combined_score");
    scores.visibility = "hidden";
}

    $(document).ready(function() {
        $('.expand').click(function() {
            //var id = $(this).id;
            var id = this.href.split("#")[1]
            console.log(id)
            $('.panel-group').hide();
            //$("#" + id).show();
            $("#" + id).appendTo('body');
           //$('div:not(this)').hide(); 
        });
        $('.close').click(function() {
            //var id = $(this).id;
            //var id = this.href.split("#")[1]
           // console.log(id)
            $('.panel-group').show();

        });

    });

</script>
</html>